.wrapper {
    position: relative;

    /* .wrapperの中身の大きさに合わせて横幅を持つ。アイコンと、何秒とかの文字分。 中身が多くなると、横幅が長くなる。*/
    display: inline-flex;

}


/* Sidebar からTooltipを開いたときは、widthを100%にしたい。 */
.fullWidth {
    display: flex;

    /* 親の幅いっぱいまで自分の幅にする */
    width: 100%;
    min-width: 0;
}



.tooltip {
    position: absolute;
    top: calc(100% + 8px);
    left: 0%;
    /* transform: translateX(-10%); */

    padding: 6px 10px;
    border-radius: 4px;

    background: #333;
    color: white;

    font-size: 12px;
    white-space: nowrap;

    opacity: 0;
    visibility: hidden;

    transition:
        opacity 0.15s ease,
        visibility 0.15s ease;

    pointer-events: none;
    z-index: 100;
}


.wrapper:hover .tooltip {
    opacity: 1;
    visibility: visible;
}
