.overlay {
    position: fixed;
    inset: 0;

    background: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    /* padding: 40px 20px; */

    box-sizing: border-box;

    z-index: 1000;
}



.modal {
    background: white;
    width: 500px;

    /* max-height: 90vh; */
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    /* overflow: hidden; */
}


.main {

    /* 今のブラウザ画面の高さから160px引いた高さを最大値にする。*/
    max-height: calc(100vh - 160px);


    /* max-height: 750px; */
    /* max-height: 1350px; */
    overflow-y: auto;
}



.largeImages {
    display: flex;
    gap: 2px;
    margin-bottom: 2px;

}


.largeImages > .largeImageWrapper {
    flex: 1;

}

.largeImage {
    width: 100%;
    /* height: 10px; */
    /* aspect-ratio: 1; */
    object-fit: cover;
    /* object-fit: contain; */
}




.images {
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
}


.images > .normalImageWrapper {
    width: calc((100% - 4px) / 3);
}


.normalImageWrapper > .image {
    aspect-ratio: 1;
    object-fit: cover;
    /* object-fit: contain; */

}

.imageWrapper{
    /* flex: 1;
    width: calc((100% - 4px) / 3); */
    position: relative;
}


.deleteButton{
    position:absolute;
    right:8px;
    bottom:8px;
    display:none;
}


.imageWrapper:hover .deleteButton{
    display:block;
}



.content {
    margin-top: 20px;
    padding: 10px 16px;

}



.titleInput {
    width: 100%;
    border: none;
    outline: none;
    resize: none;

    font-size: 28px;
    font-weight: bold;
    /* overflow: hidden; */

    line-height: 1.4;

}


.contentInput {
    width: 100%;
    /* min-height: 300px; */
    border: none;
    outline: none;
    resize: none;
    font-size: 16px;
    line-height: 1.8;

    /* textareaの中でスクロールさせない */
    /* overflow: hidden; */

}




.labels {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-top: 8px;
    padding: 10px;
}


/* .label {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 4px 8px;
    border-radius: 12px;
    background: #eee;
    cursor: pointer;
}


.removeLabel {
    display: none;
    border: none;
    background: transparent;
    font-size: 14px;
}


.label:hover .removeLabel {
    display: block;
} */



.bottom {
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 12px 16px;
    margin-top: 16px;

    border-top: 1px solid #eee;
}




.bottom > .colorButton,
.menuButton {

    width: 36px;
    height: 36px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;

    border: none;
    border-radius: 8px;

    background: transparent;
    cursor: pointer;

    font-size: 18px;
}

/* .bottom > .colorButton:hover,
.menuButton:hover {
    background: #f1f3f4;
} */


.closeButton {

    margin-left: auto;

    border: 1px solid #ddd;
    background: white;
    color: #555;

    padding: 7px 12px;
    border-radius: 7px;

    font-size: 13px;
    cursor: pointer;

}

.closeButton:hover {
    background: #f5f5f5;
}
