/* .pageButton {
    background: white;
}

.active {
    background: #4caf50;
    color: white;
} */



.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 32px 0;
}

.pageButton,
.active,
.arrowButton {
    min-width: 40px;
    height: 40px;

    border: 1px solid #ddd;
    border-radius: 8px;

    background: white;
    cursor: pointer;

    font-size: 14px;

    transition: 0.2s;
}

.pageButton:hover,
.arrowButton:hover:not(:disabled) {
    background: #f5f5f5;
}

.active {
    background: #1976d2;
    color: white;
    border-color: #1976d2;
    font-weight: bold;
}

.arrowButton:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.ellipsis {
    min-width: 40px;
    text-align: center;
    color: #666;
    user-select: none;
}



.pageSizeButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    margin-top: 16px;
}

.pageSizeLabel {
    font-size: 14px;
    color: #666;
    font-weight: 500;
}

.sizeButton,
.activeSize {
    min-width: 64px;
    height: 36px;

    padding: 0 16px;

    border: 1px solid #ddd;
    border-radius: 999px;

    background: white;
    cursor: pointer;

    font-size: 14px;

    transition: all 0.2s ease;
}

.sizeButton:hover {
    background: #f5f5f5;
    border-color: #bbb;
}

.activeSize {
    background: #1976d2;
    color: white;
    border-color: #1976d2;
    font-weight: bold;
}
