.noteCard {
    width: 250px;
    height: 450px;
    /* overflow: hidden; */  /* これ付けたら、ノートカードのメニューが、下に隠れてしまう*/
    flex-shrink: 0;
}

/* .cardHeader {
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 8px 10px;
}

.dragArea {
    flex: 1;
    height: 32px;
    cursor: grab;
}

.dragArea:active {
    cursor: grabbing;
}


.headerButton {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 32px;
    height: 32px;

    border: none;
    border-radius: 8px;

    background: transparent;

    cursor: pointer;
    font-size: 16px;
}

.headerButton:hover {
    background: #f1f3f4;
}


.selectButton {
    width: 28px;
    height: 28px;

    border: 1px solid #aaa;
    border-radius: 50%;

    background: transparent;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 16px;
}


.selectButton.selected {
    background: #555;
    color: white;
    border-color: #555;
} */



.chars > .title {
    font-size: 18px;
    font-weight: 450;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    overflow: hidden;
}

.chars > .content {
    font-size: 14px;
    margin-top: 10px;
    line-height: 1.8;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    overflow: hidden;
}






.images {
    display: flex;
    gap: 2px;
    align-items: center;
    flex-wrap: wrap;

    max-height: 180px;
    overflow: hidden;
}

.images > .image {
    width: calc((100% - 4px) / 3);
    aspect-ratio: 1;
    object-fit: cover;
}



.chars {
    padding: 12px 10px;
}







.labels {
    display: flex;
    align-items: center;
    gap: 6px;

    padding: 6px 10px;
    margin-top: 8px;

    /* 「最低幅を0pxとしていい」＝ 実質的に最低幅の制限を外す .labels がカードより横に広がるのを防ぐため。*/
    min-width: 0;

    /* .labels の箱から、.labels の中身がはみ出したら隠す */
    overflow: hidden;
}

.moreLabels {
    flex-shrink: 0;   /* 横幅が足りなくなっても、この要素を縮めない */

    padding: 4px 8px;
    border-radius: 12px;

    background: #f1f3f4;
    color: #666;

    font-size: 12px;
}



/* ---- .buttons -----
.buttons {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    min-width: 0;

}

.leftButtons {
    display: flex;
    align-items: center;
    gap: 6px;
    min-width: 0;

    background-color: pink;

    flex: 1; */

    /* これつけると、Tooltipが表示されなくなる */
    /* overflow: hidden; */
/* } */


/* .leftButtons button {
    flex-shrink: 0;

}


.leftButtons span {
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-shrink: 0;
}


.menuButton {
    margin-left: auto;
    flex-shrink: 0;

    width: 32px;
    height: 32px;
}

.menuButton:hover {
    background: #f1f3f4;
    border-radius: 50%;
} */
