.container {
    width: 500px;
    margin: 100px auto;
    background-color: rgb(164, 233, 210);

    /* border-radius: 16px; */
    border: 1px solid rgb(228, 228, 228);

    box-shadow:
        0 1px 2px rgba(60, 64, 67, 0.15),
        0 2px 6px rgba(60, 64, 67, 0.15);
}


.top {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-self: center;
}


.content{
    display: flex;
    flex-wrap: wrap;
    gap: 4px;

}


.label {
    width: calc((100% - 12px) / 4);
    aspect-ratio: 1;  /* 要素の縦横比を固定する。1にすると、自動でwidthと同じ数値になる。*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(250, 249, 250);
    cursor: pointer;
}



.colorContainer {
    background-color: #fff;
}


.colors {
    display: flex;
    gap: 16px;
    padding: 10px;
}


.color {
    width: calc((100% - 112px) / 8);
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1px solid rgb(129, 127, 127);
    cursor: pointer;

}
