.form {
    position: relative;
    width: 600px;
    margin: 32px auto;
    padding: 16px;
    border-radius: 12px;
    background: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.titleInput {
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: bold;
}

.contentInput {
    border: none;
    outline: none;
    resize: none;
    min-height: 40px;
    max-height: 300px;
    overflow-y: auto;
    font-size: 16px;
}

.bottom {
    display: flex;
}

.actions {
    margin-left: auto;
}


/* .actions {
    display: flex;
    justify-content: flex-end;
} */
