.sidebarOpen {
    width: 240px;
}

.sidebarClosed {
    width: 72px;
}

.sidebarOpen,
.sidebarClosed {
    /* height: calc(100vh - 64px); */
    border-right: 1px solid #ddd;
    transition: 0.2s;
    overflow: hidden;
    padding-top: 16px;
}


.item {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px;
    cursor: pointer;
}

.item:hover {
    background: #f1f3f4;
}
