.snackbar {
    position: fixed;
    left: 2%;
    bottom: 24px;
    /* transform: translateX(-50%); */
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 12px 16px;
    background-color: #333;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.message {
    font-size: 14px;
}

.actions {
    display: flex;
    align-items: center;
    gap: 8px;
}

.actionButton {
    border: none;
    background: transparent;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

.closeButton {
    border: none;
    background: transparent;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}
